In [2]:

from plot_lib.plot_rainfall import integrate_datetime, RainGauge
import pandas as pd
from datetime import datetime
import os

In [12]:
dir_file = '../assets/thaiwater'

concat = []

for fn in os.listdir(dir_file):
    path_csv = os.path.join(dir_file, fn)
    name_csv = fn.split('.csv')[0]
    date = datetime.strptime(name_csv, '%Y%m%d')
    df = pd.read_csv(path_csv)
    print(len(df))
    df['date'] = date
    concat.append(df)

1000
1500
2000
1100
1621
1500
900
1742
1300
2300
2300
1600
1900
2000
1667
2348
2000
1300
1200
1700
1804
2004
2184
2066
2300
1600
1493
1616
1715
800
1600
1861
1544
1649
1306
2200
1700
2100
1900
1319
1857
1500
1300
1800
1500
1412
1032
1300
2000
1900
2000
1561
545
2100
2400
1900
2000
1814
1700
2100
2200
1100
1000
2000
2100
2300
2200
1900
2300
1745
900
1000
2109
1154
2000
1000
1800
700
1700
1600

In [4]:
df = pd.concat(concat, ignore_index=True)
df = df.rename(columns={'ชื่อสถานี': 'station', 'ที่ตั้ง': 'address', 'เวลา': 'time', 'ฝนล่าสุด (มม.)': 'rainfall'})

In [5]:
df['date'] = df['date'].dt.tz_localize('UTC').dt.tz_convert('Asia/Bangkok')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134268 entries, 0 to 134267
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   station   134268 non-null  object
 1   address   134268 non-null  object
 2   time      134268 non-null  object
 3   rainfall  134268 non-null  float64
 4   date      134268 non-null  datetime64[ns, Asia/Bangkok]
 5   lat       41168 non-null   float64
 6   long      41168 non-null   float64
dtypes: datetime64[ns, Asia/Bangkok](1), float64(3), object(3)
memory usage: 7.2+ MB

In [6]:
df['english_day'] = df.date.dt.strftime('%a')
df = df.sort_values(by='date')

In [7]:
df.head()

,station,address,time,rainfall,date,lat,long,english_day
124486,บ้านบางกุ่ม,ต.กะปง อ.กะปง จ.พังงา,00:00 น.,2.5,2022-05-27 07:00:00+07:00,8.665887,98.452998,Fri
124695,บ้านทุ่งไพล,ต.เขาแดง อ.สะบ้าย้อย จ.สงขลา,00:00 น.,3.0,2022-05-27 07:00:00+07:00,6.547667,100.836956,Fri
124696,ปตร.กระมัง (ปากคลองข้าวเม่า),ต.หัวรอ อ.พระนครศรีอยุธยา จ.พระนครศรีอยุธยา,00:00 น.,3.0,2022-05-27 07:00:00+07:00,14.355067,100.583584,Fri
124697,บ้านร่มโพธิ์เงิน,ต.ปอ อ.เวียงแก่น จ.เชียงราย,20:00 น.,1.0,2022-05-27 07:00:00+07:00,19.872663,100.488998,Fri
124698,ปราจีนบุรี,ต.หน้าเมือง อ.เมืองปราจีนบุรี จ.ปราจีนบุรี,22:00 น.,3.1,2022-05-27 07:00:00+07:00,14.058418,101.369305,Fri

In [8]:
df['month'] = df.date.dt.month
df['day'] = df.date.dt.day
df['year'] = df.date.dt.year

In [9]:
df.head()

,station,address,time,rainfall,date,lat,long,english_day,month,day,year
124486,บ้านบางกุ่ม,ต.กะปง อ.กะปง จ.พังงา,00:00 น.,2.5,2022-05-27 07:00:00+07:00,8.665887,98.452998,Fri,5,27,2022
124695,บ้านทุ่งไพล,ต.เขาแดง อ.สะบ้าย้อย จ.สงขลา,00:00 น.,3.0,2022-05-27 07:00:00+07:00,6.547667,100.836956,Fri,5,27,2022
124696,ปตร.กระมัง (ปากคลองข้าวเม่า),ต.หัวรอ อ.พระนครศรีอยุธยา จ.พระนครศรีอยุธยา,00:00 น.,3.0,2022-05-27 07:00:00+07:00,14.355067,100.583584,Fri,5,27,2022
124697,บ้านร่มโพธิ์เงิน,ต.ปอ อ.เวียงแก่น จ.เชียงราย,20:00 น.,1.0,2022-05-27 07:00:00+07:00,19.872663,100.488998,Fri,5,27,2022
124698,ปราจีนบุรี,ต.หน้าเมือง อ.เมืองปราจีนบุรี จ.ปราจีนบุรี,22:00 น.,3.1,2022-05-27 07:00:00+07:00,14.058418,101.369305,Fri,5,27,2022

In [10]:
df['date'] = df['date'].dt.strftime('%Y-%m-%d')
df.head()

,station,address,time,rainfall,date,lat,long,english_day,month,day,year
124486,บ้านบางกุ่ม,ต.กะปง อ.กะปง จ.พังงา,00:00 น.,2.5,2022-05-27,8.665887,98.452998,Fri,5,27,2022
124695,บ้านทุ่งไพล,ต.เขาแดง อ.สะบ้าย้อย จ.สงขลา,00:00 น.,3.0,2022-05-27,6.547667,100.836956,Fri,5,27,2022
124696,ปตร.กระมัง (ปากคลองข้าวเม่า),ต.หัวรอ อ.พระนครศรีอยุธยา จ.พระนครศรีอยุธยา,00:00 น.,3.0,2022-05-27,14.355067,100.583584,Fri,5,27,2022
124697,บ้านร่มโพธิ์เงิน,ต.ปอ อ.เวียงแก่น จ.เชียงราย,20:00 น.,1.0,2022-05-27,19.872663,100.488998,Fri,5,27,2022
124698,ปราจีนบุรี,ต.หน้าเมือง อ.เมืองปราจีนบุรี จ.ปราจีนบุรี,22:00 น.,3.1,2022-05-27,14.058418,101.369305,Fri,5,27,2022

In [11]:
df.to_excel('../assets/results/thaiwater.xlsx', engine='xlsxwriter')